


<div class="row">
  <div class="col-sm-1">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <div class="col-sm-2">
    <div class="well">Store 2
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2">
        <div class="well">House 12</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 11</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 10</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 9</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 8</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 7</div>
      </div>
    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <div class="well">House 1</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 2</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 3</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 4</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 5</div>
      </div>
      <div class="col-sm-2">
        <div class="well">House 6</div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="well">Store 1
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
  <div class="col-sm-1">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
  </div>
</div>

<app-rawdata></app-rawdata>
